.nav{
background-color: rgb(95, 95, 95);
grid-area: n;
    border-color: rgb(65, 64, 64);
    border-style: solid;
 border-width: 0;
    border-right-width: 3px; 
    
}
.con{
    padding: 30px;
    margin: 30px;
    font-size: 40px;
}
.con div{

    margin-top: 10px;
}
