.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: auto;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 200px 1fr;
    grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: rgb(163, 162, 162);
  padding: 10px;
}
